@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: var(--font-montserrat);


 

}

@theme {
  /* 1. Mapeamos la fuente de Next.js */
  --font-sans: var(--font-montserrat);

  /* 2. Definimos los colores de marca aquí para que Tailwind v4 los reconozca */
  --color-tertiary: #4b634f;
  --dark-tertiary: #344437;
  --light-tertiary: #74967a;
  --gray: #303030;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat);
  
}
